# Local .terraform directories
**/.terraform/*
.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Variable definition files (if sensitive)
terraform.tfvars

# Override files
*.tfoverride

# Environment-specific config
.envrc
*.env

# CLI configuration
.terraformrc
terraform.rc

# Ignore SSH private keys if you ever keep them here (just in case)
*.pem
*.key